/*** 자동견적 CSS ***/

.txtBtn {display:inline-block;padding:10px 25px 9px;font-size:12px;font-weight:bold;color:#413933;vertical-align:middle;border:1px solid #cccccc;}
.txtBtn .ico1 {display:inline-block;width:16px;height:15px;line-height:0;font-size:0;vertical-align:middle;background:url('/admin/img/estimate/btn_icon_01.png') no-repeat;}
.txtBtn.type1 {padding:6px 10px 5px;color:#fff;border:1px solid #444444;background:#666666;border-radius:2px;font-size:12px;}
.type.x{float:right}
.type.blue {margin:5px 0px 8px 2px; float:right}
.type.blue a{padding:4px 7px;color:#fff;border:none;background:#009dea;border-radius:4px; border:solid #0782be 1px;font-size:11px;}
.type.blue a:hover { background-color:#00bcf7} 

.type.red {margin:5px 0px 8px 2px; float:right}
.type.red a {padding:4px 7px;color:#fff;border:none;background: #d1423b;border-radius:4px; border:solid #a1322c 1px;font-size:11px;}
.type.red a:hover {background-color:#e95149;}

.type.black {margin:0px 280px 0px 0px; float:right}

.estimateq {padding:30px 8px 0 8px;}
.estimateq:after {content: ".";display:block;height: 0;clear:both;visibility:hidden;}
/* Hides from IE-mac \*/ 
* html .estimateq {height: 1%;}
/* End hide from IE-mac */

.estimateq .estimateL {float:left;width:320px; min-width:320px;margin-right:25px;text-align:center;}
.estimateq .estimateR {float:right;width:580px;}

.estimateq .estimateC {}
.estimateq .estimateC:after {content: ".";display:block;height: 0;clear:both;visibility:hidden;}
/* Hides from IE-mac \*/ 
* html .estimateq .estimateC {height: 1%;}
/* End hide from IE-mac */
.estimateq .estimateC .lt_area {float:left;width:500px;}
.estimateq .estimateC .rt_area {float:right;width:420px;}
.estimateq .box{padding:15px; border:1px solid #d3d3d3;}
.estimateq input,
.estimateq select,
.estimateq textarea {color:#333333;vertical-align:middle;}
.estimateq label {top:auto;}
.estimateq img {vertical-align:middle;}

.estimateq .sam_photo {margin-bottom:17px; border:1px solid #ccc; padding:3px; background-color:fff; min-width:320px}
.estimateq .sam_photo2 {margin-bottom:20px;padding:22px 0;text-align:center;background:#f1f1f1; }
.estimateq .contl {margin-bottom:17px;}
.estimateq .contl a {display:inline-block;margin:0 2px;}
.estimateq .infoBt .txtBtn {width:109px;padding:10px 0;}
.estimateq .estTable {width:100%;border-top:1px solid #ef570e;}
/*.estimateq .estTable th {padding:5px 0px;text-align:left;background:#fff; font-size:13px; color:#4e4e4e}*/
.estimateq .estTable th {padding:10px 0px 2px 3px;text-align:left;background:#fff; font-size:13px; color:#4e4e4e}
.estimateq .estTable td {padding:10px 0px 0px 5px;color:#000; font-weight:bold}
.estimateq .estTable td .grytxt{color:#999b9e;}
.estimateq .estTable td .textType {padding:0 5px;height:24px;border:1px solid #cccccc;}
.estimateq .estTable td .selectType {height:26px;color:#333333;border:1px solid #cccccc;}
.estimateq .estTable td ul li {padding-bottom:8px;}
.estimateq .estTable td ul li:last-child {padding-bottom:0;}
.estimateq .estTable td ul li span {color:#a0a0a3;}
.estimateq .estTable td ul li span.stitle1 {display:inline-block;width:70px;}
.estimateq .estTable .red {color:#ef570e;}
.estimateq .estTable .bdT th,
.estimateq .estTable .bdT td {border-top:1px solid #333333;}
.estimateq .estTable td.won_area {position:relative;}
.estimateq .estTable td.won_area .won {position:absolute;right:10px;top:15px;font-size:14px; color:#F00; font-family:"나눔고딕";}

.estimateq .estTable1 {width:100%;}
.estimateq .estTable1 th {padding:10px 0px 2px 3px;text-align:left;background:#fff; font-size:13px; color:#4e4e4e}
.estimateq .estTable1 td {padding:10px 0px 0px 5px;color:#000; font-weight:bold}
.estimateq .estTable1 td .grytxt{color:#999b9e;}
.estimateq .estTable1 td .textType {padding:0 5px;height:24px;border:1px solid #cccccc;}
.estimateq .estTable1 td .selectType {height:26px;color:#333333;border:1px solid #cccccc;}
.estimateq .estTable1 td ul li {padding-bottom:8px;}
.estimateq .estTable1 td ul li:last-child {padding-bottom:0;}
.estimateq .estTable1 td ul li span {color:#a0a0a3;}
.estimateq .estTable1 td ul li span.stitle1 {display:inline-block;width:70px;}
.estimateq .estTable1 .red {color:#ef570e;}
.estimateq .estTable1 .bdT th,
.estimateq .estTable1 .bdT td {border-top:1px solid #333333;}
.estimateq .estTable1 td.won_area {position:relative;}
.estimateq .estTable1 td.won_area .won {position:absolute;right:10px;top:10px;font-size:14px; color:#F00; font-family:"나눔고딕";}

.estimateq .estTable2 {width:100%:}
.estimateq .estTable2 th {text-align:left;background:#fff; font-size:13px; color:#4e4e4e}
.estimateq .estTable2 td {padding:0px 0px 0px 5px;color:#333333;}
.estimateq .estTable2 td .textType {padding:0 5px;height:24px;border:1px solid #cccccc;}
.estimateq .estTable2 td .selectType {height:24px;color:#333333;border:1px solid #cccccc;}
.estimateq .estTable2 td ul li {padding-bottom:8px;}
.estimateq .estTable2 td ul li:last-child {padding-bottom:0;}
.estimateq .estTable2 td ul li span {color:#a0a0a3;}
.estimateq .estTable2 td ul li span.stitle1 {display:inline-block;width:70px;}
.estimateq .estTable2 .red {color:red;}
.estimateq .estTable2 .bdT th,
.estimateq .estTable2 .bdT td {border-top:1px solid #333333;}
.estimateq .estTable2 td.won_area {position:relative;}
.estimateq .estTable2 td.won_area .won {position:absolute;right:10px;top:10px;font-size:14px; color:#F00; font-family:"나눔고딕";}
.estimateq .est_title {font-size:14px;text-align:left;vertical-align:middle; margin:0px 0px 8px; font-weight:600; color:#ef570e}
.estimateq .est_title2 {padding-bottom:5px;color:#ef570e;font-size:15px;text-align:left;vertical-align:middle;border-bottom:1px solid #ef570e;}
.estimateq .space {height:10px;}
.estimateq .estBox {padding:5px;border:1px solid  #CCC;}
.estimateq .estBox .estTable {width:100%;border:none;background:#f1f1f1}
.estimateq .estBox .estTable th {padding:5px;text-align:left;background:none;}

.estimateq .estBox.type2 {margin-top:10px;padding:10px 10px;}
.estimateq .estBox.type3 {margin-top:10px;line-height:20px;text-align:right;border:1px solid #d4d4d4;background:#f8fafc; padding:19px 0px}
.estimateq .estBox.type3 {font-size:12px;color:#313131;line-height:20px;vertical-align:middle;}
.estimateq .estBox.type3 .amount{font-size:20px;color:#F00;line-height:25px;vertical-align:middle;font-family:"나눔고딕";font-weight:bold;padding-right:5px;}
.estimateq .estBox.type3 .amount2{padding-right:5px;}

.estimateq .estBox.type2 .selectType {height:24px;color:#333333;border:1px solid #cccccc;}

.estimateq p.txt1 {margin:0;padding:10px 0 0 5px;color:#666699;text-align:left;}
.estimateq p.txt2 {margin:0;padding:10px 0 0 5px;color:#222222;text-align:right;}
.estimateq p.txt3 {margin:0;padding:10px 0 0 5px;color:#FF0000;text-align:right;}
.estimateq .estbtn {padding-top:10px;text-align:right;}

.estimate_btn{
border:1px solid #5B85BC; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:13px; padding: 10px 20px 10px 20px; text-decoration:none; display:inline-block;text-shadow: 1px 1px 0 rgba(32,100,167,0.3);font-weight:bold; color: #FFFFFF;
 background-color: #009DEA; background-image: -webkit-gradient(linear, left top, left bottom, from(#009DEA), to(#0091D8));
 background-image: -webkit-linear-gradient(top, #009DEA, #0091D8);
 background-image: -moz-linear-gradient(top, #009DEA, #0091D8);
 background-image: -ms-linear-gradient(top, #009DEA, #0091D8);
 background-image: -o-linear-gradient(top, #009DEA, #0091D8);
 background-image: linear-gradient(to bottom, #009DEA, #0091D8);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#009DEA, endColorstr=#0091D8);
 margin:2px 0px 0px 2px;
}

.estimate_btn:hover{color: #FFFFFF;
 border-top-color: #1090c3;border-right-color: #1090c3;border-bottom-color: #516FA5;border-left-color: #1090c3;border-width: 1px;border-style: solid;
 background-color: #0094DD; background-image: -webkit-gradient(linear, left top, left bottom, from(#0094DD), to(#00ABFF));
 background-image: -webkit-linear-gradient(top, #00a4e9, #00b0f4);
 background-image: -moz-linear-gradient(top, #00a4e9, #00b0f4);
 background-image: -ms-linear-gradient(top, #00a4e9, #00b0f4);
 background-image: -o-linear-gradient(top, #00a4e9, #00b0f4);
 background-image: linear-gradient(to bottom, #00a4e9, #00b0f4);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#00a4e9, endColorstr=#00b0f4);
}
.estimate_btn .btn_01{display:inline-block;width:16px;height:15px;line-height:0;font-size:0;vertical-align:middle;background:url('/admin/img/estimate/btn_icon_01.png') no-repeat; padding-right:5px}
.estimate_btn .btn_02{display:inline-block;width:16px;height:15px;line-height:0;font-size:0;vertical-align:middle;background:url('/admin/img/estimate/btn_icon_02.png') no-repeat; padding-right:5px}
.estimate_btn .btn_03{display:inline-block;width:16px;height:15px;line-height:0;font-size:0;vertical-align:middle;background:url('/admin/img/estimate/btn_icon_03.png') no-repeat; padding-right:5px}
.estimate_btn .btn_04{display:inline-block;width:16px;height:15px;line-height:0;font-size:0;vertical-align:middle;background:url('/admin/img/estimate/btn_icon_04.png') no-repeat; padding-right:5px}
.estimate_btn .btn_05{display:inline-block;width:16px;height:15px;line-height:0;font-size:0;vertical-align:middle;background:url('/admin/img/estimate/btn_icon_05.png') no-repeat; padding-right:5px}

.tabStyle {overflow:hidden;height:36px;margin-top:30px;}
.tabStyle ul {height:35px;border-bottom:1px solid #cbcbcb;}
.tabStyle ul li {float:left;width:136px;height:35px;line-height:35px;text-align:center;border:1px solid #cbcbcb;}
.tabStyle ul li a {display:block;height:35px;font-size:13px;font-weight:bold;}
.tabStyle ul li.on a,
.tabStyle ul li a:hover {color:#fff;background:#505255;}
.tabStyle ul li.on a span,
.tabStyle ul li a:hover span {display:inline-block;padding-left:15px;background:url('/admin/img/estimate/tabStyle_bul.png') no-repeat 0 13px;}

.inp-w-350 { width: 350px; }
.inp-w-300 { width: 300px; }
.inp-w-200 { width: 200px; }
.inp-w-150 { width: 150px; }
.inp-w-140 { width: 140px; }
.inp-w-120 { width: 120px; }
.inp-w-100 { width: 100px; }
.inp-w-80 { width: 80px; }
.inp-w-60 { width: 60px; }
.inp-w-50 { width: 50px; }
.inp-w-38 { width: 38px; }

