/* Number 2 */
.template_mod{margin: 0 auto !important; width: 1065px;}
.tmpltli_mod{width:19% !important;}
.listTemplates h1 {padding: 10px 0 10px !important;}
.filterTemplate{padding:20px 0 !important;}
.tmpltLi {margin-left: -10px;padding:0px !important;}

/* Number 3 */
/* detail_20190110.css (ctrl+c, ctrl+v) */

/* Number 7 */
.orderStep > ul > .buma_order_first{width: 33.3%;text-align: center;border-bottom: 4px solid #CDCDCD;height: 76px;}
.orderStep > ul > .buma_order_second{width: 33.3%;}
.orderStep > ul > .buma_order_third{width: 33.4%;text-align: center;border-bottom: 4px solid #CDCDCD;height: 76px;}

.filterTemplate .button_effect{background-color: #01a8fd; color: #fff !important}
