@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);



body {font-family: 'Noto Sans KR', sans-serif;}
body {margin:0; }

ul,ol {list-style:none;}


select option:hover {    
    background-color: #999; 
    color: #fff;
}





/*상품 리스트페이지*/



label.panel-label {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
     width: 100%;
    color: #000000;
    cursor: pointer;
	font-size:13px;
 }   
 
 
 label.panel-label_pro {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
     width: 100%;
    color: #000;
    cursor: pointer;
	font-size:13px;
 }   
    

 label.panel-label_size {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
     width: 100%;
    color: #000;
    cursor: pointer;
	font-size:13px;
 }   


	
	
	

.panels {
    background-color: white;
	clear:both;
}
.panels .container {
    margin: 0 auto;
    width: 100%;
	position:relative;
	left:-30px;
}
.panels .container_pic {
    margin: 0 auto;
    width: 100%;
	position:relative;
	left:-30px;
}

.panels section header label.panel-label {
    padding: 12px 24px;
    box-sizing: border-box;
}
.panels section main {
    box-sizing: border-box;
    max-height: 0;
    opacity: 0;
    -webkit-transition: opacity 600ms;
    transition: opacity 600ms;
    overflow-y: hidden;
	margin:auto;
	position:relative;
	
}

#panel-2-ctrl:checked ~ .panels #panel-2 main {max-height: initial; opacity: 1;}

#panel-1-ctrl:checked ~ .panels #panel-1 main {
    max-height: initial;
    opacity: 1;
    
}

#panel-3-ctrl:checked ~ .panels #panel-3 main {
    max-height: initial;
    opacity: 1;
}

#panel-4-ctrl:checked ~ .panels #panel-4 main {
    max-height: initial;
    opacity: 1;
}

#panel-5-ctrl:checked ~ .panels #panel-5 main {
    max-height: initial;
    opacity: 1;
}

#panel-6-ctrl:checked ~ .panels #panel-6 main {
    max-height: initial;
    opacity: 1;
}

#panel-7-ctrl:checked ~ .panels #panel-7 main {
    max-height: initial;
    opacity: 1;
}

#panel-8-ctrl:checked ~ .panels #panel-8 main {
    max-height: initial;
    opacity: 1;
}
#panel-9-ctrl:checked ~ .panels #panel-9 main {
    max-height: initial;
    opacity: 1;
}
#panel-10-ctrl:checked ~ .panels #panel-10 main {
    max-height: initial;
    opacity: 1;
}
#panel-11-ctrl:checked ~ .panels #panel-11 main {
    max-height: initial;
    opacity: 1;
}







#panel-1-ctrl:checked ~ #tabs-list #li-for-panel-1 {
   pointer-events: none;
    cursor: default;
    font-weight:bold;
	font-size:16px;
	
}

#panel-1-ctrl:checked ~ #tabs-list #li-for-panel-1 label.panel-label {
    color: #f0386c;
    padding-top: 24px;
}
#panel-1-ctrl:checked ~ #tabs-list #li-for-panel-1 label.panel-label::after {
    height: 6px;
}
#panel-2-ctrl:checked ~ #tabs-list #li-for-panel-2 {
    pointer-events: none;
    cursor: default;
   font-weight:bold;
	font-size:16px;
	
}


#panel-2-ctrl:checked ~ #tabs-list #li-for-panel-2 label.panel-label {
    color: #f0386c;
    padding-top: 24px;
}

#panel-2-ctrl:checked ~ .panels section main{
 display:block;
}

#panel-2-ctrl:checked ~ #tabs-list #li-for-panel-2 label.panel-label::after {
    height: 6px;
}

/*3번*/
#panel-3-ctrl:checked ~ #tabs-list #li-for-panel-3 {
    pointer-events: none;
    cursor: default;
   font-weight:bold;
	font-size:16px;
}

#panel-3-ctrl:checked ~ #tabs-list #li-for-panel-3 label.panel-label {
    color: #f0386c;
    padding-top: 24px;
  }
  #panel-3-ctrl:checked ~ .panels section main{
 display:block;
}
  
#panel-3-ctrl:checked ~ #tabs-list #li-for-panel-3 label.panel-label::after {
    height: 6px;
}
/*4*/
#panel-4-ctrl:checked ~ #tabs-list #li-for-panel-4 {
    pointer-events: none;
    cursor: default;
  	font-weight:bold;
	font-size:16px;
}

#panel-4-ctrl:checked ~ #tabs-list #li-for-panel-4 label.panel-label {
    color: #f0386c;
    padding-top: 24px;
}

#panel-4-ctrl:checked ~ .panels section main{
 display:block;
}
#panel-4-ctrl:checked ~ #tabs-list #li-for-panel-4 label.panel-label::after {
    height: 6px;
}

/*5*/
#panel-5-ctrl:checked ~ #tabs-list #li-for-panel-5 {
    pointer-events: none;
    cursor: default;
    font-weight:bold;
	font-size:16px;
}

#panel-5-ctrl:checked ~ #tabs-list #li-for-panel-5 label.panel-label {
    color: #f0386c;
    padding-top: 24px;
}
#panel-5-ctrl:checked ~ .panels section main{
 display:block;
}
#panel-5-ctrl:checked ~ #tabs-list #li-for-panel-5 label.panel-label::after {
    height: 6px;
}

/*6*/
#panel-6-ctrl:checked ~ #tabs-list #li-for-panel-6 {
    pointer-events: none;
    cursor: default;
  	font-weight:bold;
	font-size:16px;
}

#panel-6-ctrl:checked ~ #tabs-list #li-for-panel-6 label.panel-label {
    color: #f0386c;
    padding-top: 24px;
}
#panel-6-ctrl:checked ~ .panels section main{
 display:block;
}

#panel-6-ctrl:checked ~ #tabs-list #li-for-panel-6 label.panel-label::after {
    height: 6px;
}

/*7*/
#panel-7-ctrl:checked ~ #tabs-list #li-for-panel-7 {
    pointer-events: none;
    cursor: default;
   font-weight:bold;
	font-size:16px;
}

#panel-7-ctrl:checked ~ #tabs-list #li-for-panel-7 label.panel-label {
    color: #f0386c;
    padding-top: 24px;
}
#panel-7-ctrl:checked ~ .panels section main{
 display:block;
}

#panel-7-ctrl:checked ~ #tabs-list #li-for-panel-7 label.panel-label::after {
    height: 6px;
}

/*8*/
#panel-8-ctrl:checked ~ #tabs-list #li-for-panel-8 {
    pointer-events: none;
    cursor: default;
  	font-weight:bold;
	font-size:16px;
}

#panel-8-ctrl:checked ~ #tabs-list #li-for-panel-8 label.panel-label {
    color: #f0386c;
    padding-top: 24px;
}
#panel-8-ctrl:checked ~ .panels section main{
 display:block;
}
#panel-8-ctrl:checked ~ #tabs-list #li-for-panel-8 label.panel-label::after {
    height: 6px;
}

/*9*/
#panel-9-ctrl:checked ~ #size_list #li-for-panel-9 {
    pointer-events: none;
    cursor: default;
  
	
}

#panel-9-ctrl:checked ~ #size_list #li-for-panel-9 label.panel-label_size {
    color: #000;
    padding-top: 24px;
}
#panel-9-ctrl:checked ~ .panels section main{
 display:block;
}

#panel-9-ctrl:checked ~ #size_list #li-for-panel-9 label.panel-label_size::after {
    height: 6px;
}

/*10*/
#panel-10-ctrl:checked ~ #size_list #li-for-panel-10 {
    pointer-events: none;
    cursor: default;
  	font-size:16px;
}

#panel-10-ctrl:checked ~ #size_list #li-for-panel-10 label.panel-label_size {
    color: #000;
    padding-top: 24px;
}
#panel-10-ctrl:checked ~ .panels section main{
display:block;
}

#panel-10-ctrl:checked ~ #size_list #li-for-panel-10 label.panel-label_size::after {
    height: 6px;
}

/*11*/
#panel-11-ctrl:checked ~ #size_list #li-for-panel-11 {
    pointer-events: none;
    cursor: default;
  	
}

#panel-11-ctrl:checked ~ #size_list #li-for-panel-11 label.panel-label_size {
    color: #000;
    padding-top: 24px;
}
#panel-11-ctrl:checked ~ .panels section main{
 display:block;
}
#panel-11-ctrl:checked ~ #size_list #li-for-panel-11 label.panel-label_size::after {
    height: 6px;
}

/*12*/
#panel-12-ctrl:checked ~ #size_list #li-for-panel-12 {
    pointer-events: none;
    cursor: default;
   
}


#panel-12-ctrl:checked ~ #size_list #li-for-panel-12 label.panel-label {
    color: #000;
    padding-top: 24px;
}
#panel-12-ctrl:checked ~ .panels section main{
 display:block;
}
#panel-12-ctrl:checked ~ #size_list #li-for-panel-12 label.panel-label::after {
    height: 6px;
}

/*13*/
#panel-13-ctrl:checked ~ #tabs-list #li-for-panel-13 {
    pointer-events: none;
    cursor: default;
  
}
#panel-13-ctrl:checked ~ #tabs-list #li-for-panel-13.last {
    border-right: 1px solid transparent;
}

#panel-13-ctrl:checked ~ #tabs-list #li-for-panel-13 label.panel-label {
    color: #f0386c;
    padding-top: 24px;
}
#panel-13-ctrl:checked ~ .panels section main{
display:block;
}
#panel-13-ctrl:checked ~ #tabs-list #li-for-panel-13 label.panel-label::after {
    height: 6px;
}

/*14*/
#panel-14-ctrl:checked ~ #tabs-list #li-for-panel-14 {
    pointer-events: none;
    cursor: default;
   
}

#panel-14-ctrl:checked ~ #tabs-list #li-for-panel-14 label.panel-label {
    color: #f0386c;
    padding-top: 24px;
}
#panel-14-ctrl:checked ~ #tabs-list #li-for-panel-14 label.panel-label::after {
    height: 6px;
}

/*인기순최신순*/
#panel-0620-ctrl:checked ~ .panels #panel-0620 main {
    max-height: initial;
    opacity: 1;
}
#panel-0620-ctrl:checked ~ .pro_list #li-for-panel-0620 label.panel-label_pro {
    color: #000;
    padding-top: 24px;
}

#panel-0621-ctrl:checked ~ .panels #panel-0621 main {
    max-height: initial;
    opacity: 1;
}
#panel-0621-ctrl:checked ~ .pro_list #li-for-panel-0621 label.panel-label_pro {
    color: #000;
    padding-top: 24px;
}



#panel-0620-ctrl:checked ~ #pro_list #li-for-panel-0620 {
    pointer-events: none;
    cursor: default;
    -webkit-transform: translate3d(0, 1px, 0);
    transform: translate3d(0, 1px, 0);
    box-shadow: none;
    border-right: none;
	font-weight:bold;
	font-size:16px;
}

#panel-0620-ctrl:checked ~ #tabs-list #li-for-panel-0620 label.panel-label_pro {
    color: #ddd;
    padding-top: 24px;
}
#panel-0620-ctrl:checked ~ #tabs-list #li-for-panel-0620 label.panel-label_pro::after {
    height: 6px;
}

#panel-0621-ctrl:checked ~ #pro_list #li-for-panel-0621 {
    pointer-events: none;
    cursor: default;
    -webkit-transform: translate3d(0, 1px, 0);
    transform: translate3d(0, 1px, 0);
    box-shadow: none;
    border-right: none;
	font-weight:bold;
	font-size:16px;
}

#panel-0621-ctrl:checked ~ #tabs-list #li-for-panel-0621 label.panel-label_pro {
    color: #ddd;
    padding-top: 24px;
}
#panel-0621-ctrl:checked ~ #tabs-list #li-for-panel-0621 label.panel-label_pro::after {
    height: 6px;
}
/*인기순 최신순*/




ul#tabs-list {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: auto;
    padding: 0;
    text-align: center;
	width:850px;
	position:relative;
}
ul#tabs-list li {
    display: block;
    text-align: center;
    position: relative;
	
}


ul#tabs-list li:hover {
    -webkit-transition: none;
    transition: none;
    border-right: none;
}

ul#tabs-list li label.panel-label {
    position: relative;
    padding: 20px 0;
    font-size: 0.8em;
}
ul#tabs-list li label.panel-label::after {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 100%;
    height: 0;
   
}
ul#tabs-list li label.panel-label:hover {
    padding-top: 24px;
}
ul#tabs-list li label.panel-label:hover::after {
    height: 6px;
}

#tabs-list li {padding-right:20px;}


/*사이즈*/
ul#size_list {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: auto;
    padding: 10px;
    text-align: center;
	width:850px;
	position:relative;
}
ul#size_list li {
    display: block;
    text-align: center;
    position: relative;
	
}
ul#size_list li:hover {
    -webkit-transition: none;
    transition: none;
    border-right: none;
}
ul#size_list li label.panel-label {
    position: relative;
    padding: 20px 0;
    font-size: 0.8em;
}
ul#size_list li label.panel-label::after {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 100%;
    height: 0;
}
ul#size_list li label.panel-label:hover {
    padding-top: 24px;
}
ul#size_list li label.panel-label:hover::after {
    height: 6px;
}
#size_list li {padding-right:20px;}
/*사이즈*/




.tabs_full_list { position:relative; left:1000px;}
.tabs_full_list li {float:left;}



.panel-radios {
    display: none;
}

main p {
    line-height: 1.8;
}

.container li {float:left; padding:5px ;}

#tab_de_map{width:1200px; margin: 0 auto;}

.tab_one {width:200px; font-size:27px; text-align:center; margin:50px auto 30px; padding:20px; height:30px; border:1px solid #000;}
.tab_one p{height:30px; margin:0 auto; position:relative; top:-5px;}

.tab_border {border-bottom:1px solid #ddd; width:1137px;padding:5px; margin: 0 auto; position:relative; left:-31px;}

/*.tab_de_map_wrap {height:775px;}*/


.pro_list {float:right; width:200px; height:40px; margin: 0 atuo; font-size:13px; position:relative; top:-10px;}
.pro_list li {float:left; padding:10px;}



.les_img {width:280px; height:280px; background:#f5f5f5; background-image:url('/skin/modern/assets/P1/img/testtest.png');  margin-bottom:80px;}
.les_img_pic {width:980px; height:400px; background:#f5f5f5; margin:30px 90px;}
.les_img_pic2 {width:980px; height:170px; margin:30px 90px;  background-image:url('/skin/modern/assets/P1/img/pic_img.png');}
.les_img_pic2 button {width:200px; height:40px; float:right; display:block; background:#555; color:#fff; border:1px solid #555; margin:53px; position:absolute; left:795px; line-height:1px;}
.les_img li {float:left; }
.font_body {position:relative; top:290px; font-size:14px; width:200px; margin:0;}
.font_mo1 {width:200px; text-align:center;}

.font_body-list {height:30px; position:relative; top:-10px;}
.font_line {text-decoration:line-through; font-size:10px; color:#999999; margin-top:3px;}









