.product-list > ul > li:nth-child(5){clear:both;}
.product-list > ul > li:nth-child(9){clear:both;}
.product-list > ul > li:nth-child(13){clear:both;}
.product-list > ul > li:nth-child(17){clear:both;}
.product-list > ul > li:nth-child(21){clear:both;}
.product-list > ul > li:nth-child(25){clear:both;}
.product-list > ul > li:nth-child(29){clear:both;}
.product-list > ul > li:nth-child(33){clear:both;}
.product-list > ul > li:nth-child(37){clear:both;}
.product-list > ul > li:nth-child(41){clear:both;}
.product-list > ul > li:nth-child(45){clear:both;}
.product-list > ul > li:nth-child(49){clear:both;}
.product-list > ul > li:nth-child(53){clear:both;}