@charset "utf-8";

@font-face {
 font-family: 'Nanum Square';
 font-weight: 300;
 src: url(https://cdn.rawgit.com/moonspam/NanumSquare/master/NanumSquareL.eot);
 src: url(https://cdn.rawgit.com/moonspam/NanumSquare/master/NanumSquareL.eot?#iefix) format('embedded-opentype'),
      url(https://cdn.rawgit.com/moonspam/NanumSquare/master/NanumSquareL.woff) format('woff'),
      url(https://cdn.rawgit.com/moonspam/NanumSquare/master/NanumSquareL.ttf) format('truetype');
}
@font-face {
 font-family: 'Nanum Square';
 font-weight: 400;
 src: url(https://cdn.rawgit.com/moonspam/NanumSquare/master/NanumSquareR.eot);
 src: url(https://cdn.rawgit.com/moonspam/NanumSquare/master/NanumSquareR.eot?#iefix) format('embedded-opentype'),
      url(https://cdn.rawgit.com/moonspam/NanumSquare/master/NanumSquareR.woff) format('woff'),
      url(https://cdn.rawgit.com/moonspam/NanumSquare/master/NanumSquareR.ttf) format('truetype');
}
@font-face {
 font-family: 'Nanum Square';
 font-weight: 700;
 src: url(https://cdn.rawgit.com/moonspam/NanumSquare/master/NanumSquareB.eot);
 src: url(https://cdn.rawgit.com/moonspam/NanumSquare/master/NanumSquareB.eot?#iefix) format('embedded-opentype'),
      url(https://cdn.rawgit.com/moonspam/NanumSquare/master/NanumSquareB.woff) format('woff'),
      url(https://cdn.rawgit.com/moonspam/NanumSquare/master/NanumSquareB.ttf) format('truetype');
}
@font-face {
 font-family: 'Nanum Square';
 font-weight: 800;
 src: url(https://cdn.rawgit.com/moonspam/NanumSquare/master/NanumSquareEB.eot);
 src: url(https://cdn.rawgit.com/moonspam/NanumSquare/master/NanumSquareEB.eot?#iefix) format('embedded-opentype'),
      url(https://cdn.rawgit.com/moonspam/NanumSquare/master/NanumSquareEB.woff) format('woff'),
      url(https://cdn.rawgit.com/moonspam/NanumSquare/master/NanumSquareEB.ttf) format('truetype');
}
@font-face {
    font-family: 'Noto Sans KR';
    src: url('../font/notokr-bold.eot');
    src: url('../font/notokr-bold.eot?#iefix') format('embedded-opentype'),
         url('../font/notokr-bold.woff2') format('woff2'),
         url('../font/notokr-bold.woff') format('woff'),
         url('../font/notokr-bold.ttf') format('truetype'),
         url('../font/notokr-bold.svg#notokr-bold') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* CSS Document */
*{padding:0;margin:0;-webkit-text-size-adjust: none; -moz-text-size-adjust: none; -ms-text-size-adjust: none;}
h1,h2,h3,h4,h5,h6,em,strong,li,dd,a,address{font: 16px 'Nanum Square','Malgun Gothic', '맑은 고딕','sans-serif';padding:0;margin:0;color:#000;}
html{overflow-y:scroll;}
html,body{width:100%;height:100%;font-family: 'Nanum Square','Malgun Gothic', '맑은 고딕','sans-serif';}
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,tr,td,thead,tbody,form,fieldset,legend,input,textarea,button{margin:0;padding:0;}
ul,ol,li,dl,dt,dd {list-style:none;}
i,em,address{font-style:normal;}
label,button{cursor:pointer;}
button{border:none;font-family:'Nanum Square','Malgun Gothic', '맑은 고딕','sans-serif';outline:none;background:none;}
hr,legend {display:none;}
img,fieldset,iframe {border:none;}
img{vertical-align:top;}
textarea{font-family:'Nanum Square','Malgun Gothic', '맑은 고딕','sans-serif';font-size:14px;resize:none;}
caption {display:none;}
select {font-family:'Nanum Square','Malgun Gothic', '맑은 고딕','sans-serif';-webkit-appearance: none;-moz-appearance: none;-ms-appearance: none;-o-appearance: none;appearance: none;}
select::-ms-expand {
    display: none;
}
u {text-decoration:none;}
i {font-style:normal;}
input,select,button{box-sizing: border-box;vertical-align:middle;-webkit-appearance: none;border-radius: 0;}
table{border:none; border-collapse:collapse; padding:0; border-spacing:0;table-layout: fixed;}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font: 12px 'Nanum Square','Malgun Gothic', '맑은 고딕','sans-serif';
  line-height:46px;
  color:#969696;
}
::-moz-placeholder { /* Firefox 19+ */
  font: 12px 'Nanum Square','Malgun Gothic', '맑은 고딕','sans-serif';
  line-height:46px;
  color:#969696;
}
:-ms-input-placeholder { /* IE 10+ */
  font: 12px 'Nanum Square','Malgun Gothic', '맑은 고딕','sans-serif';
  line-height:46px;
  color:#969696;
}
:-moz-placeholder { /* Firefox 18- */
  font: 12px 'Nanum Square','Malgun Gothic', '맑은 고딕','sans-serif';
  line-height:46px;
  color:#969696;
}

.skip a{display:block;position:absolute;left:0;top:-9999em;width:100%;background-color:#272727;color:#aaa;font: bold 12px/3.4 arial,sans-serif;text-align:center;z-index: 99999;}
.skip a:hover,.skip a:active,.skip a:focus{top:0}

/*기본*/
#wrap-pupa{width:100%;height:100%;position:relative;}
#header-pupa{position:relative;}
#container-pupa{position:relative;*zoom:1;}
#container-pupa:after{display:block;clear:both;content:'';}
#footer-pupa{position:relative;}

a{text-decoration:none; color:#000;}
a:link,a:visited,a:active,a:focus{}
a:hover{text-decoration:none;}
.blind {display:block;overflow:hidden;top:-1000em;position:absolute;}

/* float */
.clearfix:after{content:''; display:block; clear:both;}

/*공통부분*/
input[type=text], input[type=search] {background:#fff; border:1px solid #dbdbdb;padding:0 5px 0 5px;font: 12px 'Nanum Square','Malgun Gothic', '맑은 고딕','sans-serif';height:35px;line-height:35px;box-sizing:border-box;}
input[type=password] {background:#fff; border:1px solid #dbdbdb;padding:0 5px 0 5px;font: 12px 'Malgun Gothic', '맑은 고딕','sans-serif';height:35px;line-height:35px;box-sizing:border-box;}
input[type=text]:hover, input[type=password]:hover, input[type=text]:focus, input[type=password]:focus, input[type=search]:hover, input[type=search]:focus {border:1px solid #909090;box-sizing:border-box;}
textarea{border:1px solid #dbdbdb; padding:5px;font-size:12px;color:#333;}
textarea:disabled {background:#f5f5f5;}

.pupa-bg {display:none;z-index:990;position:fixed;left:0;top:0;width:100%;height:100%;background:#000;
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  /* IE 5-7 */
  filter: alpha(opacity=50);
  /* Netscape */
  -moz-opacity: 0.5;
  /* Safari 1.x */
  -khtml-opacity: 0.5;
  /* Good browsers */
  opacity: 0.5;}

.table {display:table;width:100%;}
.row {display:table-row;}
.th {display:table-cell;vertical-align:middle;}
.td {display:table-cell;vertical-align:middle;}

/*pagination*/
.paging-wrap {text-align:center;margin-top:90px;}
.paging-wrap a {display:inline-block;vertical-align:middle;font-size:12px;color:#333;font-weight:700;}
.paging-wrap a.on,
.paging-wrap a:hover {color:#1e5ea8;}
.paging-wrap a + a {margin-left:20px;}
.paging-wrap a.first {width:30px;height:30px;background:url(/skin/modern/assets/M2/images/common/paging-first.png) no-repeat center;margin-right:2px;}
.paging-wrap a.prev {width:30px;height:30px;background:url(/skin/modern/assets/M2/images/common/paging-prev.png) no-repeat center;margin-left:0;}
.paging-wrap a.next {width:30px;height:30px;background:url(/skin/modern/assets/M2/images/common/paging-next.png) no-repeat center;}
.paging-wrap a.last {width:30px;height:30px;background:url(/skin/modern/assets/M2/images/common/paging-last.png) no-repeat center;margin-left:2px;}

/*체크박스*/
.checkbox.custom {margin: 0;padding: 0;}
.css-label {background:url(/skin/modern/assets/M2/images/common/check_box.gif) no-repeat 0 -16px;}
.css-label span {display: table-cell;vertical-align: middle;height: 16px;padding-left: 23px;font-weight:700;}
input[type=checkbox].css-checkbox {position: absolute;overflow: hidden;clip: rect(0 0 0 0);height: 1px;width: 1px;margin: -1px;padding: 0px;border: 0;}
input[type=checkbox].css-checkbox+label.css-label {height: 16px;display: inline-block;line-height: 16px;background-repeat: no-repeat;font-size: 12px;vertical-align: middle;cursor: pointer;opacity: 1;color: #969696;background-position:0 -16px;}
input[type=checkbox].css-checkbox:checked+label.css-label {background-position:0 -32px;}
input[type=checkbox].css-checkbox:disabled+label.css-label {background-position:0 0;}

/*라디오버튼*/
.inline {display:inline-block;}
.radio {color: #545555;font-size: 16px;position: relative;}
.radio input[type="radio"] {cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
.radio span {
    position: relative;
    padding-left: 23px;
    font-size: 11px;
    color: #333;
    font-weight:700;
}
.radio span:after {
    content: '';
    width: 16px;
    height: 16px;
    background: #fff;
    border: 1px solid #dcdcdc;
    position: absolute;
    left: 0;
    top: -3px;
    border-radius: 100%;
    -ms-border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.radio span:before {
   content: '';
    width: 8px;
    height: 8px;
    position: absolute;
    background: #dbdbdb;
    left: 4px;
    top: 1px;
    z-index: 1;
    border-radius: 100%;
    -ms-border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
}
.radio input[type="radio"]:checked+span:before {
    content: '';
    width: 8px;
    height: 8px;
    position: absolute;
    background: #1e5ea8;
    left: 4px;
    top: 1px;
    z-index: 1;
    border-radius: 100%;
    -ms-border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
}

@media all and (-ms-high-contrast:none){
  *::-ms-backdrop { border-radius: 0 } 
}

/*select 스타일*/
.custom-select-wrap {display:inline-block;vertical-align:middle;width:230px;position:relative;border:1px solid #dbdbdb;color:#969696;font-size:12px;font-weight:700;letter-spacing:-1px;border:1px solid #dbdbdb;height:34px;line-height:34px;padding:0 13px;background:#fff url(../images/common/sel_arrow2.gif) 95% center no-repeat;}
.custom-select-wrap-bank {display:inline-block;vertical-align:middle;width:330px;position:relative;border:1px solid #dbdbdb;color:#969696;font-size:12px;font-weight:700;letter-spacing:-1px;border:1px solid #dbdbdb;height:34px;line-height:34px;padding:0 13px;background:#fff url(../images/common/sel_arrow2.gif) 95% center no-repeat;}
.custom-select-wrap.type2 {border:1px solid #000;height:45px;line-height:45px;}

.custom-select-wrap > a {display:block;color:#969696;font-size:12px;font-weight:700;letter-spacing:-1px;border:1px solid #dbdbdb;box-sizing:border-box;height:34px;line-height:34px;padding:0 13px;background:#fff url(../images/common/sel_arrow2.gif) 205px center no-repeat;}
.custom-select-wrap > a:active {padding:0 13px;}
.custom-select-wrap .custom-select {width:100%;position:absolute;left:0;top:0;display:none;z-index:9;}
.custom-select-wrap .custom-select li a {display:block;font-size:12px;color:#000;letter-spacing:-1px;padding:0 13px;box-sizing:border-box;border:1px solid #dbdbdb;border-bottom:0;height:34px;line-height:34px;background:#fff;}
.custom-select-wrap .custom-select li:last-child a {border-bottom:1px solid #dbdbdb;}

.btn_wrap {overflow:hidden;text-align:center;display:block !important;}
[class*='btn_'] {letter-spacing:-1px;font-weight:700;display:inline-block;text-align:center;box-sizing:border-box;overflow:hidden;}
[class*='btn_']:active {padding-top:1px;}
.btn_wrap:active {padding-top:0 !important;}
button:active,
button:focus {padding:0;}
button span {position:relative;}
a:active,
a:focus {padding:0;}
a span {position:relative;}

.blue {color:#1e5ea8;}
.red {color:#ff6565;}

.wd100 {width:100px;}
.wd150 {width:150px;}
.wd200 {width:200px;}
.wd250 {width:250px;}
.wd280 {width:280px;}
.wd300 {width:300px;}
.wd316 {width:316px;}
.wd625 {width:625px;}

.h100 {height:100px;}
.h150 {height:150px;}
.h180 {height:180px;}
.h200 {height:200px;}

.mt0 {margin-top:0px !important;}
.mt4 {margin-top:4px !important;}
.mt6 {margin-top:6px !important;}
.mt10 {margin-top:10px !important;}
.mt20 {margin-top:20px !important;}
.mt30 {margin-top:30px !important;}
.mt40 {margin-top:40px !important;}
.mt50 {margin-top:50px !important;}
.mt60 {margin-top:60px !important;}
.mt70 {margin-top:70px !important;}
.mt80 {margin-top:80px !important;}
.mt90 {margin-top:90px !important;}
.mt100 {margin-top:100px !important;}
.mt110 {margin-top:110px !important;}
.mt120 {margin-top:120px !important;}

.ml375 {margin-left:375px !important;}

.mb0 {margin-bottom:0px !important;}
.mb10 {margin-bottom:10px !important;}
.mb20 {margin-bottom:20px !important;}
.mb30 {margin-bottom:30px !important;}
.mb40 {margin-bottom:40px !important;}
.mb50 {margin-bottom:50px !important;}
.mb60 {margin-bottom:60px !important;}
.mb70 {margin-bottom:70px !important;}
.mb80 {margin-bottom:80px !important;}
.mb90 {margin-bottom:90px !important;}
.mb100 {margin-bottom:100px !important;}

.pt10 {padding-top:10px !important;}
.pt20 {padding-top:20px !important;}
.pt30 {padding-top:30px !important;}
.pt40 {padding-top:40px !important;}
.pt50 {padding-top:50px !important;}
.pt60 {padding-top:60px !important;}
.pt70 {padding-top:70px !important;}
.pt80 {padding-top:80px !important;}
.pt90 {padding-top:90px !important;}
.pt100 {padding-top:100px !important;}

.pb10 {padding-bottom:10px !important;}
.pb20 {padding-bottom:20px !important;}
.pb30 {padding-bottom:30px !important;}
.pb40 {padding-bottom:40px !important;}
.pb50 {padding-bottom:50px !important;}
.pb60 {padding-bottom:60px !important;}
.pb70 {padding-bottom:70px !important;}
.pb80 {padding-bottom:80px !important;}
.pb90 {padding-bottom:90px !important;}
.pb100 {padding-bottom:100px !important;}

.bdt {border-top:1px solid #000;}

.tc {text-align:center;}
.tr {text-align:right;}
.tl {text-align:left;}

.input-phone {}
.input-phone:after {content:'';display:block;clear:both;}
.input-phone > input {float:left;text-align:center;padding:0 5px;}
.input-phone > span {color:#dbdbdb;display:inline-block;vertical-align:middle;line-height:35px;width:13px;float:left;text-align:center;}

/*탭 형식*/
.tab-50p {overflow:hidden;}
.tab-50p li {float:left;width:50%;}
.tab-50p li a {display: block;font-size:18px;color:#969696;font-weight:700;text-align:center;height:68px;line-height:68px;background:#efefef;}
.tab-50p li.on a {color:#fff;background:#1e5ea8;}