	<!--{ @ f_banner_s2('mark_banner1')}-->{.banner}<!--{ / }-->
	<!--{ @ f_banner_s2('mark_banner2')}-->{.banner}<!--{ / }-->
	
	<!-- ### footer ### -->
	<div class="wrap">
		<!-- ### content ### -->
		<footer class="footer">
			<!--{ @ f_banner_s2('bottom_banner')}-->{.banner}<!--{ / }-->
		</footer>
		<!-- ### //content ### -->
	</div>
	<!-- ### //footer ### -->

<!-- Start Script for IFDO -->
<script type="text/javascript">
var _NB_MSG_URL = '//chatsvc1.ifdo.co.kr/gchatsvc.apz?';
var _NB_gs = 'mt.ifdo.co.kr'; 
var _NB_MKTCD = 'NMA117197152';
(function(a,b,c,d,e){f=b.createElement(c),g=b.getElementsByTagName(c)[0];f.async=1;f.src=d;
g.parentNode.insertBefore(f,g)})(window,document,'script','//script.ifdo.co.kr/jfullscript.js');	
</script>
<!-- End Script for IFDO -->


<!-- AceCounter Log Gathering Script V.71.2013012101 -->
<script language="javascript">
if(typeof EL_GUL == 'undefined'){
var EL_GUL = 'dgc2.acecounter.com';var EL_GPT='8080'; var _AIMG = new Image(); var _bn=navigator.appName; var _PR = location.protocol=="https:"?"https://"+EL_GUL:"http://"+EL_GUL+":"+EL_GPT;if( _bn.indexOf("Netscape") > -1 || _bn=="Mozilla"){ setTimeout("_AIMG.src = _PR+'/?cookie';",1); } else{ _AIMG.src = _PR+'/?cookie'; };
document.writeln("<scr"+"ipt language='javascript' src='/acecounter/acecounter_V70.js'></scr"+"ipt>");
}
</script>
<noscript>&amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;lt;img src='http://dgc2.acecounter.com:8080/?uid=AR5F38170210761&amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;je=n&amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;' border=0 width=0 height=0&amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;gt;</noscript>
<!-- AceCounter Log Gathering Script End -->


<!-- 전환페이지 설정 -->
<script src="//wcs.naver.net/wcslog.js" type="text/javascript"> </script> 
<!--{ ? _acecounter_mode == 'payend' }-->
<script type="text/javascript">
var _nasa={};
_nasa["cnv"] = wcs.cnv("1","{payprice}"); // 전환유형, 전환가치 설정해야함. 설치매뉴얼 참고
</script>
<!--{ : _acecounter_mode == 'register' }-->
<script type="text/javascript">
var _nasa={};
_nasa["cnv"] = wcs.cnv("2","1"); // 전환유형, 전환가치 설정해야함. 설치매뉴얼 참고
</script>
<!--{ / }-->

<!-- 공통 적용 스크립트 , 모든 페이지에 노출되도록 설치. 단 전환페이지 설정값보다 항상 하단에 위치해야함 --> 
<script src="//wcs.naver.net/wcslog.js" type="text/javascript"> </script> 
<script type="text/javascript"> 
if (!wcs_add) var wcs_add={};
wcs_add["wa"] = "s_58588ff5129f";
if (!_nasa) var _nasa={};
wcs.inflow();
wcs_do(_nasa);
</script>

<script type="text/javascript">
    var roosevelt_params = {
        retargeting_id:'XvX8B514xrc9XigyLvt7Eg00',
        tag_label:'C8G9aOLyTbaag423QB96Wg'
    };
</script>
<script src="//adimg.daumcdn.net/rt/roosevelt.js" type="text/javascript"></script>

<!--{ ? _cfg.bottom_script }-->
	{_cfg.bottom_script}
<!--{ / }-->