<!-- FOOTER START -->
<style>
	#foot_copy .inner_idg { padding-left: 218px; background: url(/data/top_logo/{_cid}/top_logo.png) left center no-repeat; }
</style>
<div id="footer_idg">
	<!-- 고객센터 START -->
	<!--{ @ f_banner_s2('bottom_banner_01')}-->{.banner}<!--{ / }-->
	<!-- 고객센터 END -->

	<!-- 하단 회사정보 START -->	
	<!--{ @ f_banner_s2('bottom_banner_02')}-->{.banner}<!--{ / }-->	
	<!-- 하단 회사정보 END -->
</div>


<!--{ ? _cfg.payment_script_use }-->
{_cfg.payment_script}
<!--{ / }-->

<!--{ ? _cfg.bottom_script }-->
{_cfg.bottom_script}
<!--{ / }-->

<!-- FOOTER END -->