	
	<!--{ @ f_banner_s2('bottom_banner')}-->{.banner}<!--{ / }-->
	<!--
		<div class="footer-top">
			<div class="footer-top-inner">
				<dl>
					<dt><a href="#">서비스소개</a></dt>
					<dd><a href="#">모든상품 모아보기</a></dd>
					<dd><a href="#">서비스 안내</a></dd>
					<dd><a href="#">회사소개</a></dd>
				</dl>
				<dl>
					<dt><a href="#">제휴안내</a></dt>
					<dd><a href="#">대량구매·졸업앨범 할인</a></dd>
					<dd><a href="#">마케팅·사업제휴</a></dd>
				</dl>
				<dl>
					<dt><a href="#">혜택안내</a></dt>
					<dd><a href="#">쿠폰등록</a></dd>
				</dl>
				<dl>
					<dt><a href="#">고객문의</a></dt>
					<dd><a href="#">공지사항</a></dd>
					<dd><a href="#">자주묻는 질문</a></dd>
					<dd><a href="#">1:1문의</a></dd>
				</dl>
			</div>
		</div>
		<div class="footer-bottom">
			<div class="footer-bottom-inner">
				<ul class="footer-shortcut">
					<li><a href="#">회사소개</a></li>
					<li><a href="#">이용약관</a></li>
					<li><a href="#">개인정보 취급방침</a></li>
				</ul>
				<p class="address">
					<b>(주)명진씨앤피</b>
					<span>대표이사 김은식</span>
					<span>사업자등록번호 626-86-00257</span>
					<span>통신판매업신고 제2016-수원팔달-0120호</span><br />
					<span>개인정보관리책임 송영선</span>
					<span>경기도 수원시 팔달구 정조로 845</span>
				</p>
				<p class="copyright">
					Copyright &copy; pupa.com  All rights reserved.
				</p>
				<div class="footer-bottom-logo">
					<img src="/skin/modern/assets/M2/images/footer_icon.png" alt="" />
				</div>
			</div>
		</div>
	-->
	<!-- footer-pupa End -->


<!--{ ? _cfg.payment_script_use }-->
	{_cfg.payment_script}
<!--{ / }-->

<!--{ ? _cfg.bottom_script }-->
	{_cfg.bottom_script}
<!--{ / }-->