<!-- 하단 회사정보 START -->	
	<div id="foot_copy">
			<div class="inner_idg">
            	<div class="jh_footerLogo">
                	<img src="/data/top_logo/{_cid}/top_logo.png" width="180">
                </div>
                <div class="jh_footerMadd">

					<!-- 하단 회사정보 START -->	
					<!--{ @ f_banner_s2('bottom_banner_02')}-->{.banner}<!--{ / }-->	
					<!-- 하단 회사정보 END -->

                    <!--<ul class="f_menu">
                        <li><a href="#">회사소개</a></li>
                        <li><a href="#">오시는길</a></li>
                        <li><a href="#">제휴문의</a></li>
                        <li><a href="#">이용약관</a></li>
                        <li><a href="#">개인정보취급방침</a></li>
                    </ul>
                    <p class="address">
                        <span>(주)어플</span>&nbsp;<span>주소: 서울특별시 중구 마른내로8길 6, 2층 210호</span>
                        <span>대표이사: 김주영</span>
                        <span>문의전화: 02-2277-5010&nbsp;</span>
                        <span>팩스: 02-2264-7934</span><br>
                        <span>사업자등록번호: 310-81-32577</span>
                        <span>통신판매업신고번호: 제2018-서울중구-0128호</span>​						
                        <span>개인정보관리책임자: 김주영</span></p> 
                    <p class="copyright">Copyright 2019 APPL,inc. All rights reserved.</p>-->
                </div>
                <div class="clear"></div>
                <!--<div class="jh_footerCs">
                	<img src="../assets/lotteria/img/jh_footerIco.jpg" style="position:relative; top:2px;">&nbsp;고객센터
                </div>-->
			</div>
		</div>	
<!-- 하단 회사정보 END -->


	
