<section class="section section-important section-padding">
	<div class="content-container">
		<h2>{=__text("로고")}</h2>
		<div class="list-container">
			<ul class="h-group list-type-tile tile-row-8">
				<li class="col tile-content">
					<div class="thumbnail" style="background: url('https://placehold.it/143x143')"></div>
				</li>
				<li class="col tile-content">
					<div class="thumbnail" style="background: url('https://placehold.it/143x143')"></div>
				</li>
				<li class="col tile-content">
					<div class="thumbnail" style="background: url('https://placehold.it/143x143')"></div>
				</li>
				<li class="col tile-content">
					<div class="thumbnail" style="background: url('https://placehold.it/143x143')"></div>
				</li>
				<li class="col tile-content">
					<div class="thumbnail" style="background: url('https://placehold.it/143x143')"></div>
				</li>
				<li class="col tile-content">
					<div class="thumbnail" style="background: url('https://placehold.it/143x143')"></div>
				</li>
				<li class="col tile-content">
					<div class="thumbnail" style="background: url('https://placehold.it/143x143')"></div>
				</li>
				<li class="col tile-content">
					<div class="thumbnail" style="background: url('https://placehold.it/143x143')"></div>
				</li>
				<li class="col tile-content">
					<div class="thumbnail" style="background: url('https://placehold.it/143x143')"></div>
				</li>
				<li class="col tile-content">
					<div class="thumbnail" style="background: url('https://placehold.it/143x143')"></div>
				</li>
				<li class="col tile-content">
					<div class="thumbnail" style="background: url('https://placehold.it/143x143')"></div>
				</li>
				<li class="col tile-content">
					<div class="thumbnail" style="background: url('https://placehold.it/143x143')"></div>
				</li>
				<li class="col tile-content">
					<div class="thumbnail" style="background: url('https://placehold.it/143x143')"></div>
				</li>
				<li class="col tile-content">
					<div class="thumbnail" style="background: url('https://placehold.it/143x143')"></div>
				</li>
				<li class="col tile-content">
					<div class="thumbnail" style="background: url('https://placehold.it/143x143')"></div>
				</li>
				<li class="col tile-content">
					<div class="thumbnail" style="background: url('https://placehold.it/143x143')"></div>
				</li>
			</ul>
		</div>
	</div>
</section>