<link rel="stylesheet" href="/skin/modern/assets/alaskaprint/css/indigo.css">
<link rel="stylesheet" href="/skin/modern/assets/alaskaprint/css/jquery.bxslider.css">
<link rel="stylesheet" href="/skin/modern/assets/alaskaprint/css/magnific-popup.css">

<script src="/skin/modern/assets/alaskaprint/js/jquery-1.11.1.min.js"></script>
<script src="/skin/modern/assets/alaskaprint/js/jquery.easing.1.3.min.js"></script>
<script src="/skin/modern/assets/alaskaprint/js/jquery.magnific-popup.js"></script>
<script src="/skin/modern/assets/alaskaprint/js/jquery.sticky-kit.js"></script>
<script src="/skin/modern/assets/alaskaprint/js/jquery.cookie.js"></script>
<script src="/skin/modern/assets/alaskaprint/js/jquery.bxslider.js"></script>
<script src="/skin/modern/assets/alaskaprint/js/gnb.js"></script>
<script src="/skin/modern/assets/alaskaprint/js/indigo.js"></script>

<!-- TOP BANNER START -->
<!--{ ? _cid !== "lotteria"}-->
<div class="top_banner_wrap">
	<div class="top_banner">
		<!--{ @ f_banner_s2('top_banner') }-->{.banner}<!--{ / }-->
	</div>
	<div class="btn_close">
		<input type="checkbox" id="top_check" />
		<label for="top_check">1일간 열지 않음</label>
		<button type="button"><img src="/skin/modern/assets/alaskaprint/images/main/btn_close_top.png" alt="닫기" /></button>
	</div>
</div>
<script>
	// 상단배너
	$(document).ready(function() {
		var topBanner = $('.top_banner_wrap'),
		    topCheck = $('#top_check'),
		    topBtn = topBanner.find('button');

		if ($.cookie('hideBanner') == 'true') {
			topBanner.css({
				height : 0
			}, 300);
		}

		topBtn.on('click', function() {
			if (topCheck.prop('checked')) {
				
				$.cookie('hideBanner', 'true', {
					expires : 1,
					path : '/'
				});
			}

			topBanner.stop().animate({
				height : 0
			}, 300);
		});
	});
</script>
<!-- TOP BANNER END -->
<!--{ / }-->

<!-- HEADER START -->
<div id="header_idg">
	<!-- UTIL 메뉴 START -->
	<div id="util_idg">
		<ul>
			<!--{ ? _sess.mid }-->
			<li>
				<a href="/member/logout.php">로그아웃</a>
			</li>
			<li>
				<a href="/mypage/orderlist.php">주문내역조회</a>
			</li>
			<li>
				<a href="/order/cart.php">장바구니</a>
			</li>
			<!--{ : }-->
			<li>
				<a href="/member/login.php">로그인</a>
			</li>
			<li>
				<a href="/member/register.php">간편회원가입</a>
			</li>
			<li>
				<a href="/order/cart.php">장바구니</a>
			</li>
			<!--{ / }-->
		</ul>
	</div>
	<!-- UTIL 메뉴 END -->

	<div id="headerTop">
		<h1 id="logo">
			<a href="/">
			<!--<img src="/skin/modern/assets/alaskaprint/images/logo.png" alt="알래스카인디고">-->
			<!--{ ? _cfg.top_logo_type == "img" }-->
			<img src = "/data/top_logo/{_cid}/top_logo.png">
			<!--{ : _cfg.top_logo_type == "txt" }-->
				{_cfg.top_logo}
			<!--{ : }-->
				BLUEPOD
			<!--{ / }-->			
			</a>
		</h1>
		<div id="hd_quick">
			<!--{ @ f_banner_s2('quick_menu') }-->{.banner}<!--{ / }-->
		</div>
		<!-- GNB 메뉴 START -->
		<div id="gnb_idg">
			<ul class="gnb_dp1_list">
				
				<!--{ @ f_category() }-->
				<li class="gnb_dp1">
					<!--{ ?.img }-->
					{.category_link_tag}{.img}</a>
					<!--{ : }-->
					{.category_link_tag}{.catnm}</a>
					<!--{ / }-->
					<div class="gnb_dp2_wrap">
						<div class="gnb_dp2_inner">
							<div class="gnb_dp2_description">
								<h2 class="gnb_dp2_tit"><!--{ ?.img }--> {.category_link_tag}{.img}</a> <!--{ : }--> {.category_link_tag}{.catnm}</a> <!--{ / }--></h2>
								<p class="gnb_dp2_dec">
									<!--{ @ f_banner_s2( 'category_'+ .catno )}-->
									{..banner}<!--{ / }-->
								</p>
							</div>
							<ul class="gnb_dp2_list">
								<!--{ ? .sub && !_cfg.top_category_sub_off }-->
								<!--{ @ .sub }-->
								<li class="gnb_dp2">

									<!--{ ? ..img }-->
									{..category_link_tag}{..img}</a>
									<!--{ : }-->
									{..category_link_tag}{..img}{..catnm}</a>
									<!--{ / }-->
									

									<div class="dp2_img">
										<!--{ @ f_banner_s2('category_right_'+ ..catno) }-->{...banner}<!--{ / }-->
									</div>
								</li>
								<!--{ / }--><!--{ / }-->
							</ul>
						</div>
					</div>
				</li>
				<!--{ / }-->
			</ul>
		</div>
		<!-- GNB 메뉴 END -->
	</div>
</div>
<!-- HEADER END -->