
	<div id="site-header">
		<div class="util">
			<ul id="cs-menu">
				<!--{ ? !_sess }-->
					<li class="cs-item">
						<a href="/member/login.php" class="nav-item">{=__text("로그인")}</a>
					</li>
					<li class="cs-item">
						<a href="/member/register.php" class="nav-item">{=__text("회원가입")}</a>
					</li>
					<!--{ ? _cfg.editlist_use != "N" }-->
					<li class="cs-item">
						<a href="/order/editlist.php" class="nav-item">{=__text("편집보관함")}</a>
					</li>
					<!--{ / }-->

					<!--{ ? _cfg.local_storage_use == "Y"}-->
					<li class="cs-item">
						<a href="javascript:void(0)" {=__onclick_alert("로그인하여주시기 바랍니다.")} class="nav-item">{=__text("로컬보관함")}</a>
					</li>
					<!--{ / }-->
				<!--{ : }-->
					<li class="cs-item">
						<a href="/member/logout.php" class="nav-item">{=__text("로그아웃")}</a>
					</li>
					<li class="cs-item">
            <!--{ ? _cid == "decalkids" || _cid == "kids" }-->
            <a href="/member/myinfo.php" class="nav-item">{=__text("마이페이지")}</a>
            <!--{ : }-->
            <a href="/mypage/index.php" class="nav-item">{=__text("마이페이지")}</a>
            <!--{ / }-->
					</li>
					<!-- 기본값을 모두 보임으로 설정, 사용안함 설정일 때만 나오지 않도록 수정 / 17.02.28 / kjm -->
					<!--{ ? _cfg.editlist_use != "N" }-->
					<li class="cs-item">
						<a href="/order/editlist.php" class="nav-item">{=__text("편집리스트")}</a>
					</li>
					<!--{ / }-->
	
					<!--{ ? _cfg.local_storage_use == "Y"}-->
					<li class="cs-item">
						<a href="javascript:popupLayer('/module/open_storage_new.php');" class="nav-item">{=__text("로컬보관함")}</a>
					</li>
	
					<!--{ / }-->
				<!--{ / }-->
				
				<li class="cs-item">
					<a href="/order/cart.php" class="nav-item">{=__text("장바구니")}</a>
				</li>
				
				<li class="cs-item">
					<a href="/board/list.php?board_id=notice" class="nav-item">{=__text("고객센터")}</a>
				</li>

				<li class="cs-item">
					<a href="/goods/search.php" class="nav-item"><img src="/skin/modern/assets/images/search-icon.png" alt=""></a>
				</li>
			</ul>
		</div>
		
		<div id="header-wrap">
			<div id="header-top">
				<h1 id="logo">
					<a href="/">
						<!--{ ? _cid == "decalkids" || _cid == "kids" }-->						
            <img src="/data/favicon/{_cid}/{_cfg.skin}/top_logo.png" onerror="this.style.display='none'" />
            <img src="/data/favicon/{_cid}/{_cfg.skin}/top_logo_sm.png" onerror="this.style.display='none'" class="small" />
						<!--{ : }-->
						<img src="/skin/modern/assets/I1/images/logo/top_logo.png">
						<img src="/skin/modern/assets/I1/images/logo/top_logo_sm.png" class="small">
						<!--{ / }-->
					</a>
				</h1>

				<!-- 검색창-->
				<fieldset id="headerSch">
					<legend>검색</legend>
						<input id="searchQuery" name="searchQuery" type="search" title="검색어" class="placeholder" placeholder="검색어를 입력하세요." accesskey="s" value=""  
							 onkeypress="fnSearchGo()">
						<button type="button" onClick="fnSearchGo('mouse');"><span class="blind">검색</span></button>
				</fieldset>
				<!--// 검색창-->  
				<span class="header-bnn">
					<!--{ ? _cid == "decalkids" || _cid == "kids" }-->						
					<img src="/data/favicon/{_cid}/{_cfg.skin}/top_call.png" onerror="this.style.display='none'" />
					<!--{ : }-->

					<!--<a href="http://iscream.bluepod.co.kr/board/view.php?board_id=notice&amp;no=287"-->
					<img src="/skin/modern/assets/I1/images/logo/top_call.png">
					<!--</a>-->
					<!--{ / }-->
					
				</span>
			</div>

			<script>
				function fnSearchGo(data){
					if (window.event.keyCode == 13 || data == "mouse") {
						var search_text = document.getElementById("searchQuery").value;
						location.href = "/goods/search.php?sw="+search_text;
        			}
				}
			</script>

			<!--상단 네비 -->
			<nav id="gnb">

				<ul class="gnb-menu">
				<!--{ @ f_category() }-->
					<li class="gnb-item">
						{.category_link_tag}{.catnm}</a>
					</li>
					<!--{ / }-->
				</ul>

				<a href="#" class="toggle-gnb" title="전체메뉴 보기"><i>전체메뉴 보기</i></a>
				<div class="snb-area">
					<ul>

						<!--{ @ f_category() }-->
						<li>
							<h2>
								{.category_link_tag}{.catnm}</a>
							</h2>

							<ul>
								<!--{ ? .sub && !_cfg.top_category_sub_off }-->
								<!--{ @ .sub }-->
									<li>{..category_link_tag}{..img}{..catnm}</a></li>
								<!--{ / }-->
								<!--{ / }-->
							</ul>
						</li>
						<!--{ / }-->

					</ul>
				</div>
			</nav>
			<!--//상단 네비 -->
		</div>
	</div>
