/*** Basic CSS ***/
body {margin: 0; padding: 0;}
body, table, input, textarea, select {font: 9pt tahoma;}
img,fieldset	{border: 0;}
fieldset legend {display:none;}
.hand	{cursor: pointer;}
.hidden	{display: none;}
.bold	{font-weight: bold}
.absmiddle {vertical-align: middle}

/*** link ***/
a		{text-decoration: none; color: #000000;}
a:hover {text-decoration: none; color: #007FC8;}
a.white	{text-decoration: none; color: #ffffff;}
a.white:hover {text-decoration: none; color: #ffffff;}

/*** font ***/
.eng	{font-family: tahoma; font-size: 8.5pt; letter-spacing: 0;}
.stxt	{font-family: 돋움; font-size: 8.5pt; letter-spacing: -1px;}
.desc	{font-family: 돋움; font-size: 8.5pt; letter-spacing: -1px; padding-top:5px;}

/*** form ***/
form	{display: inline;}
form input[type=text],input[type=password],input[type=file],textarea {border: 1px solid #c4cad1; background: #ffffff; color:#444;}
form input[type=radio],input[type=checkbox] {margin-right:5px;}
._eng {ime-mode: disabled}
._num {ime-mode: disabled; text-align: right;}

/*** width ***/
.w50	{width: 50px;}
.w80	{width: 80px;}
.w200	{width: 200px;}
.w300	{width: 300px;}
.w400	{width: 400px;}
.w500	{width: 500px;}

/*** color ***/
.gray	{color: gray;}
.red	{color: #9d0038;}
.blue	{color: #006594;}
.green	{color: #008000;}
.white	{color: #ffffff;}
.sky	{color: #7dd0fa;}

/*** align ***/
.left	{float: left;}
.right	{float: right;}
.clear	{clear: both;}
.c1		{
	text-align: left;
	padding-left: 10px;
}

/*** position ***/
.page	{text-align: center; padding: 15px;}
.btn	{text-align: right; margin: 10px 0;}
.border {border: 1px solid #cccccc;}
.relative {position:relative;}

/*** contents ***/
.content {width: 100%; margin: 20px 0; word-wrap: break-word; word-break: break-all; overflow: hidden;}
.content p {margin: 2px 0;}

/*** scroll ***/
.scroll	{
	scrollbar-face-color:#FFFFFF;
	scrollbar-shadow-color:#D2D2D2;
	scrollbar-highlight-color:#D2D2D2;
	scrollbar-3dlight-color:#FFFFFF;
	scrollbar-darkshadow-color:#FFFFFF;
	scrollbar-track-color:#F7F7F7;
	scrollbar-arrow-color:#838383;
}

/*** Table CSS #01 (Form) ***/
table.tb1 {
	width: 100%; margin: 0; padding: 0;
	border-top: 2px solid #e5e5e5;
	border-bottom: 1px solid #d9d9d9;
	border-collapse: collapse;
}
table.tb1 th{
	width: 120px; padding: 8px 0 4px 20px;
	border-right: 1px solid #ebebeb;
	border-bottom: 1px solid #ebebeb;
	font: bold 8.5pt 돋움; letter-spacing: -1px; text-align: left;
	color: #444444; background: #F9F9F9;
}
table.tb1 td{
	padding: 6px 2px 6px 15px;
	border-bottom: 1px solid #ebebeb;
}

/*** Table CSS #02 (List) ***/
table.tb2 {
	width: 100%; margin: 0; padding: 0;
	border-top: 2px solid #e5e5e5;
	border-bottom: 1px solid #d9d9d9;
	border-collapse: collapse;
}
table.tb2 th{
	padding: 7px 0 3px 0; text-align:center;
	border-bottom: 1px solid #ebebeb;
	color: #ffffff; background: #444444;
	font: 8.5pt 돋움; letter-spacing: -1px;
}
table.tb2 td{
	padding: 6px 5px;
	border-bottom: 1px solid #ebebeb;
}

/*** Table CSS #03 (List) ***/
table.tb3 {
	width: 100%; margin: 0; padding: 0;
	border: 3px solid #d2d2d2;
	border-collapse: collapse;
/*	border-right: 1px solid #d2d2d2;*/
}
table.tb3 th{
	padding: 10px 0 6px 0; text-align:center;
	border-bottom: 1px solid #d2d2d2;
	color: #808080; background: #f2f2f2;
	font: 8.5pt nanumG,nanumG2; letter-spacing: -1px;
	border-left: 1px solid #d2d2d2;
}
table.tb3 td{
	padding: 6px 5px;
	border-bottom: 1px solid #d2d2d2;
	border-left: 1px solid #d2d2d2;
}
table.tb3 td.no_left_border {border-left:0;}

table.tb3 table.print_optbox {margin-top:5px;}
table.tb3 table.print_optbox th{width:50px;padding:5px 3px 3px;border:1px solid #DEDEDE;}
table.tb3 table.print_optbox td{text-align:center;font-size:8.5pt;border:1px solid #DEDEDE;}

/*** Table CSS #04 (Form) ***/
table.tb4 {
	width: 100%; margin: 0; padding: 0;
	border-top: 2px solid #222222;
	border-bottom: 1px solid #d2d2d2;
	border-collapse: collapse;
}
table.tb4 th{
	width: 120px; padding: 10px 0 6px 20px;
	border-bottom: 1px solid #d2d2d2;
	font: bold 8.5pt 돋움; letter-spacing: -1px; text-align: center;
	color: #444444; background: #F2F2F2;
}
table.tb4 td{
	padding: 6px 2px 6px 25px;
	border-bottom: 1px solid #d2d2d2;
}

/*** Table CSS #05 (Form) ***/
table.tb5 {
	width: 100%; margin: 0; padding: 0;
}
table.tb5 th{
	width: 80px;
	font: 8.5pt 돋움; letter-spacing: -1px; text-align: left;
	color: #444444;
}
table.tb5 td{
	padding: 2px 0 2px 10px;
	border-left: 1px solid #d2d2d2;
}

/*** Table CSS #06 (Mypage Simple List) ***/
table.tb6 {
	width: 100%; margin: 0; padding: 0;
	border-top: 1px solid #dbdbdb;
	border-collapse: collapse;
}
table.tb6 th{
	padding: 10px 0 6px 0; text-align:center;
	border-bottom: 1px solid #dbdbdb;
	background: #FBF9F7;
	font: 8.5pt 돋움; letter-spacing: -1px;
	border-left: 1px solid #dbdbdb;
}
table.tb6 td{
	padding: 6px 5px;
	border-bottom: 1px solid #dbdbdb;
}
table.tb6 th.no_left_border {border-left:0;}

/*** Table CSS #07 (List) ***/
table.tb7 {
	width: 100%; margin: 0; padding: 0;
	border-top: 3px solid #d2d2d2;
	border-collapse: collapse;
}
table.tb7 th{
	padding: 7px 0 3px 0; text-align:center;
	border-bottom: 1px solid #d2d2d2;
	color: #808080; background: #f2f2f2;
	font: 8.5pt 돋움; letter-spacing: -1px;
}
table.tb7 td{
	padding: 6px 5px;
	border-bottom: 1px solid #d2d2d2;
	/*border-left: 1px solid #d2d2d2;*/
}
table.tb7 td.no_left_border {border-left:0;}

/*** Table CSS #09 (Form) ***/
table.tb9 {
	width: 100%; margin: 0; padding: 0;
}
table.tb9 th{
	width: 80px;
	font: 9pt 굴림; letter-spacing: -1px; text-align: left;
}
table.tb9 td{
	padding: 2px 0 2px 10px;
	border-left: 1px solid #d2d2d2;
}

label {cursor: pointer; position:relative; top:-2px; left:-3px; font:8.5pt 돋움; letter-spacing:-1px;}

.page_pos_div {margin:5px;font:8.5pt 돋움;color:#666666;}
.page_pos_div a {color:#666666;}